table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

th {
  background-color: white;
  padding: 10px;
}
  
td {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
tr {
  cursor: pointer;
}

tr:nth-child(even) {
    background-color: #B1BCCE
  }
tr:nth-child(odd) {
    background-color: #A4C2F4;
  }

tr:hover {
  background-color: #32DA00;
}