<!DOCTYPE html>
<html>
<body>


<div *ngIf="!passedLinkData">
  <p> Selecciona un enlace</p>
</div>

<div *ngIf="passedLinkData">
  <div>
    <p>Nombre</p>
    <textarea>{{passedLinkData.API}}</textarea>
  </div>
  <div>
    <p>Description</p>
    <textarea class="description">{{passedLinkData.Description}}</textarea>
  </div>
  <div class="last">
    <p>Autor</p>
    <textarea>?</textarea>
  </div>
  <div>
    <a class="button" href={{passedLinkData.Link}}>Navegar</a>
  </div>
</div>

</body>
</html>
