<div class="col-12 header">
  <div class="col-3">
    <a class="button" (click)="navigateBack()"> Volver </a>
  </div>
  <div class="col-9">
    <h2> Oops... </h2>
  </div>
</div>

<div class="col-12 textWrapper">
  <div class="col-1"></div>
  <div class="col-10 text">
    <p>
      Estimado asociado, recuerda que para mantener el orden y las buenas maneras de nuestra estimada
      asociación, debemos disfrutar de los links siguiendo las pautas acordada en nuestra reunión fundacional:
    </p>
      <ol>
        <li> Primeros los links de animales </li>
        <li> Después los de libros </li>
        <li> Después los de música </li>
        <li> Y por último los de salud </li>
      </ol> 
  </div> 
  <div class="col-1"></div>
</div>
