/* You can add global styles to this file, and also import other style files */

button {
  color: white;
  background-color: #3C72C2;
  width: 150px;
  height: 56px;
  font-size: 17px;
  text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover 
{
  text-decoration:none; 
}

button:hover{
  cursor: pointer;
}
