/* You can add global styles to this file, and also import other style files */

a {
  color: white;
  background-color: #3C72C2;
  width: 150px;
  height: 56px;
  font-size: 17px;
  text-decoration: none;
  padding: 21px 50px;
  border: 1px solid black;
}


a:hover 
{
  text-decoration:none; 
}


